.fl-pw_SearchResults {
  width: 100%;
  background-color: $c-plain-background;
  position: absolute;
  top: 0;
  z-index: 1;
  min-height: 4em;

  padding: 1em 0;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 4px 4px rgba(0,0,0,.3);
  @include fade-hidden();

  &--visible {
    @include fade-visible();
  }
}

.fl-pw_SearchResults-cover,
.fl-pw_SearchResults-title,
.fl-pw_SearchResults-artist {
  display: inline;
}

.fl-pw_SearchResults-result {
  display: block;
  cursor: pointer;
  background-color: inherit;
  padding: .2em 1em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    filter: brightness(95%);
  }

  &:active {
    filter: brightness(90%);
  }
}

.fl-pw_SearchResults-cover {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.fl-pw_SearchResults-title {
  font-weight: bold;
}

.fl-pw_SearchResults-artist {
  color: lighten($c-text, 10%);
  &::before {
    content: ' - ';
  }
}
