.fl-pw_TrackList {
  display: flex;
  flex-flow: column nowrap;
}


.fl-pw_TrackList-track {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding: .3em 1em;
  border: 1px solid $c-border;
  border-radius: 5px;
  margin-top: .5em;
  background-blend-mode: color-dodge;
  transition: all .2s ease;

  &--dragging {
    border-color: darken($c-border, 20%);
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    z-index: 2;
  }
}

.fl-pw_TrackList-track-cover {
  width: 5em;
  height: 5em;
}

.fl-pw_TrackList-track-info {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 1em;
}

.fl-pw_TrackList-track-info-title,
.fl-pw_TrackList-track-info-artist,
.fl-pw_TrackList-track-info-explicit,
.fl-pw_TrackList-track-dragBtn {
  display: block;
  margin: .05em 0;
}

.fl-pw_TrackList-track-info-title {
  font-weight: bold;
}

.fl-pw_TrackList-track-info-artist {
  opacity: .7;
}

.fl-pw_TrackList-track-info-explicit {
  display: inline-block;
  padding: 0 .0em .2em;
  margin: .2em 0;
  width: 5em;
  border-radius: 3px;

  background-color: $c-danger;
  color: $c-danger-text;
  font-size: .8em;
  text-align: center;
}

.fl-pw_TrackList-track-dragBtn {
  position: absolute;
  top: .5em;
  right: 1em;

  width: 2em;
  height: 2em;
  border-radius: 1em;
  border: none;
  font-size: .8em;
  background-color: $c-button-background;
  fill: $c-button-text;
  cursor: grab;
}
