.fl-pw_TrackList {
  display: flex;
  flex-flow: column nowrap;
}


.fl-pw_Track {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding: .3em 1em;
  border: 1px solid $c-border;
  border-radius: 5px;
  margin-top: .5em;
  background-blend-mode: color-dodge;
  transition: all .2s ease;

  &--dragging {
    border-color: darken($c-border, 20%);
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    z-index: 2;
  }

  &--playing {

  }
}

.fl-pw_Track-cover {
  width: 5em;
  height: 5em;
}

.fl-pw_Track-info {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 1em;
}

.fl-pw_Track-info-title,
.fl-pw_Track-info-artist,
.fl-pw_Track-info-explicit,
.fl-pw_Track-btns {
  display: block;
  margin: .05em 0;
}

.fl-pw_Track-info-title {
  font-weight: bold;
}

.fl-pw_Track-info-artist {
  opacity: .7;
}

.fl-pw_Track-info-explicit {
  display: inline-block;
  padding: 0 .0em .2em;
  margin: .2em 0;
  width: 5em;
  border-radius: 3px;

  background-color: $c-danger;
  color: $c-danger-text;
  font-size: .8em;
  text-align: center;
}

.fl-pw_Track-btns {
  margin-left: auto;
}

.fl-pw_Track-btns-drag,
.fl-pw_Track-btns-delete,
.fl-pw_Track-btns-playingSign, {
  display: block;

  width: 2.1em;
  height: 2.1em;
  border-radius: 1.05em;
  border: 0;
  font-size: .8em;
  background-color: $c-button-background;
  fill: $c-button-text;
  margin-bottom: .5em;

  &:active {
    background-color: darken($c-button-background, 7%);
  }
}

.fl-pw_Track-btns-drag {
  cursor: grab;
}

.fl-pw_Track-btns-delete {
  &:hover {
    fill: $c-danger;
  }
}

.fl-pw_Track-btns-playingSign {
  pointer-events: none;
}

.fl-pw_Track-userName {
    position: absolute;
    bottom: 0;
    right: 1em;
    display: inline-block;
    max-width: 19em;

    font-weight: bold;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .9em;
}
